# --- System Gregory PC - Configuración .gitignore ---

# Archivos de sistema y temporales (Basura)
Thumbs.db
.DS_Store
.vscode/
.idea/

# Archivos de diseño pesados (No subir a la web)
*.psd
*.ai
*.raw

# Archivos de Ruby/Jekyll (por si acaso quedan residuos)
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
Gemfile.lock

# Carpetas de dependencias
node_modules/
/vendor
